<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PapirusCS" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=papirus;User ID=sa;Password=19980213Fa"
             providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>